<form action="/pins/edit_pin" method="POST">
<input type="hidden" id="hidden" name="method" value="PATCH">
    <h4>Edit Pins:</h4><br>
    <label>Name</label>
        <input type="text" name="name"><br>
    <label>Artist</label>
        <input type="text" name="artist"><br>
    <label>Series</label>
        <input type="text" name="series"><br>
    <label>Price</label>
        <input type="number" name="price"><br>
    <input type="submit" value="Finish Edit">
</form>