<h4>Your Collection</h4>
<p>Name:
Artist:
Series:
Price:</p>

    <form action ="/pin/delete" method="POST">
        <input type="hidden" id="hidden" name="method" value="DELETE">
        <button type="submit" value="delete">Trade Pin</button><br>
    </form>
    <a href="/pins/new">Add a New Pin.</a><br>
