<h1>New Owner!</h1>

<form action="/new_owner" method="POST">
<label>Name</label>
<input type="text" name="name"><br>
<label>Email</label>
<input type="text" name="email"><br>
<label>Pins</label>
<input type="text" name="pins"><br>

<input type="submit" value="Submit">
</form>