<h4>Log In</h4><br>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="submit"><br>
</form><br>

<p>Not a Collector yet?</p><br>
<button><a href="/login">Start Collecting</a></button>
