<h4>Log In</h4><br>
<form method="post" action="/login">
  <input type="text" name="user[username]" placeholder="username"><br>
  <input type="password" name="user[password]" placeholder="password"><br>
  <input type="submit" value="submit"><br>
</form><br>

<p>Not a Collector yet?</p><br>
<button><a href="/signup">Start Collecting</a></button>
