
    <div>
    <h4><%= @user.username %>'s Collection:</h4><br>

    <% @pins.each do |pin| %>
        Name: <%= pin.name %>  <a href="/pins/<%= pin.id %>">See Pin</a><br>
        Artist: <%= pin.artist %><br>

    <% end %>

    

    
    </div>

    <br><a href="/new">Add a New Pin.</a>

