#"Welcome back, #{name}. Here is your current collection:"
#current pins etc.
    <p>Your Collection:</p><br>

    

        <form action ="/pin/<%= pin.id%>/delete" method="POST">
            <input type="hidden" id="hidden" name="method" value="DELETE">
            <button type="submit" value="delete">Trade Pin</button><br>
        </form>
    </div>

    <a href="/new">Add a New Pin.</a>

    <% end %>


#don't know how to write this out though....