
    <div>
    <h4><%= @user.username %>'s Collection:</h4><br>

    <% @pins.each do |pin| %>
        Name: <%= pin.name %>  <a href="/pins/<%= pin.id %>">See Pin</a><br>
        Artist: <%= pin.artist %><br>


    <% end %>

    <br><a href="/pins/new"><h3>Add a New Pin.</h3></a>

    

    
    </div>

    

