
    <h4><%= @user.username %>'s Collection:</h4><br>

    <% @pins.each do |pin| %>
        Name: <%= pin.name %><br> #make a link to pins showpage - then that pages needs a link to edit and delete
        Artist: <%= pin.artist %><br>

    <% end %>

    

    
    </div>

    <a href="/new">Add a New Pin.</a>



#don't know how to write this out though....