<h4>Sign Up to get Collecting!</h4>

<form action="/signup" method="POST"><br>
    <input type="text" name="username" id="username"><br>
    <input type="password" name="password" id="password" placeholder="*****" required=""/><br>
    <button type="submit">Start Collecting</button>
</form><br>

<h4>Already Have a Collection?</h4>
<a href="/signup">Log In</a>
