<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Pin Collection Organizer</h2>

    <div class="content">
        <h3>Welcome Collectorz</h3><br>
          <p><a href="/signup">Sign up to Start Collecting</a></p>
          <br>
          <h3>Already a Collector?</h3><br>
            <p><a href="/login">Log In</a></p>
            
    </div>

  </div>
</div>
