<h1>A New Pin!</h1>

<form action="/new_pin" method="POST">
<label>Name</label>
<input type="text" name="name"><br>
<label>Artist</label>
<input type="text" name="artist"><br>
<label>Series</label>
<input type="text" name="series"><br>
<label>Price</label>
<input type="number" name="price"><br>

<input type="submit" value="Submit">
</form>