<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Heady Pin Organizer</h2>

    <div class="content">
        <h3>Welcome Collectorz</h3><br>
            <h4>Log In</h4><br>
            <form method="post" action="/login">
              <input type="text" name="username" placeholder="username">
              <input type="password" name="password" placeholder="password">
              <input type="submit" value="submit"><br>
            </form><br>
            <h4>Sign Up</h4><br>
            <form method="post" action="/sign_up">
              <input type="text" name="username" placeholder="username">
              <input type="password" name="password" placeholder="password">
              <input type="submit" value="submit">
            </form>
    </div>

  </div>
</div>
