<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Heady Pin Organizer</h2>

    <div class="content">
        <h3>Welcome Collectorz</h3><br>
            <h4>Log In Please</h4><br>
            <form method="post" action="/login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="password">
            <input type="submit">
        </form>
    </div>

  </div>
</div>